
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ESP32 IR Transmitter Component &#8212; esphomelib 1.1.1 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" src="../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="esp32-ir-transmitter-component">
<h1>ESP32 IR Transmitter Component<a class="headerlink" href="#esp32-ir-transmitter-component" title="Permalink to this headline">¶</a></h1>
<p>The IR transmitter component lets you use the <a class="reference external" href="https://esp-idf.readthedocs.io/en/latest/api-reference/peripherals/rmt.html">remote
peripheral</a>
on your ESP32 to send infrared messages to control devices in your home.
First, you need to setup a global hub that specifies which pin your IR
led is connected to. Afterwards you can create <a class="reference external" href="/esphomeyaml/components/switch/ir_transmitter.html">individual
switches</a> that
each send a pre-defined IR code to a device.</p>
<div class="code yaml highlight-c++ notranslate"><div class="highlight"><pre><span></span># Example configuration entry
ir_transmitter:
  - id: &#39;ir_hub1&#39;
    pin: 32

# Individual switches
switch:
  - platform: ir_transmitter
    ir_transmitter_id: &#39;ir_hub1&#39;
    name: &quot;Panasonic TV Off&quot;
    panasonic:
      address: 0x4004
      command: 0x100BCBD
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>pin</strong> (<strong>Required</strong>,
<a class="reference external" href="/esphomeyaml/configuration-types.html#pin">pin</a>): The pin of the
IR LED.</li>
<li><strong>carrier_duty_percent</strong> (<em>Optional</em>, int): The duty percentage of
the carrier. 50 for example means that the LED will be on 50% of the
time. Must be in range from 0 to 100. Defaults to 50.</li>
<li><strong>id</strong> (<em>Optional</em>,
<a class="reference external" href="/esphomeyaml/configuration-types.html#id">id</a>): Manually specify
the ID used for code generation. Use this if you have multiple IR
transmitters.</li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper"><div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../index.html">Documentation overview</a><ul>
  </ul></li>
</ul>
</div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2018, Otto Winter.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.7.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.10</a>
      
      |
      <a href="../../_sources/esphomeyaml/components/ir_transmitter.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-113203480-2']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
  </body>
</html>